
<div class="card">
  <div class="card-header">
    <h4><%= shop.name %></h4>
    <% shop.tags.each do |tag| %>
      <span class="badge badge-primary"><%= tag.tag %></span>
    <% end %>
  </div>
    <div class="card-body">
    <% if shop.images.attached? %>
    <p class="user-show">
    <% shop.images.each do |image| %>
    <%= image_tag image.variant(resize: '300x300')  %>
    <% end %>
    </p>
    <% end %>
  </div>
  </div>

  <div class="card">
  <div class="card-body">
    <p class="card-text"><%= simple_format(shop.text) %></p>
  </div>
  </div>
  <div class="card">
  
  <div class= "card-body">
  <div class="contents wrapper">
  <main id="main_content">
        <section id="info">
      <dl class="card-text">
        <dt>住所</dt>
        <dd><%= simple_format(shop.address) %></dd>
        <dt>アクセス</dt>
        <dd><%= simple_format(shop.access) %></dd>
        <dt>問い合わせ</dt>
        <dd><%= simple_format(shop.inquiry) %></dd>
      </dl>
      </main>
            <aside id="sidebar">
        <ul>
          <li>

             <div id='map'>
<script>
let map
function initMap(){
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: <%= shop.latitude %>, lng: <%= shop.longitude %>},
    zoom: 15,
       zoomControl: false,
       mapTypeControl: false,
       fullscreenControl: false,
       streetViewControl: false,
  });

  marker = new google.maps.Marker({
    position: {lat: <%= shop.latitude %>, lng: <%= shop.longitude %>},
    map: map
  });
   geocoder = new google.maps.Geocoder()
}
</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
</div>

        </li>
    </aside>
    </div>
    </div>
  </div>
  


