
<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto boards__linkBox">
    <%= link_to '店舗一覧', shops_path, class: 'btn btn-outline-dark' %>
    <% if admin_signed_in? %>
    <%= link_to '編集', edit_shop_path(@shop), class: 'btn btn-outline-dark' %>
    <% end %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<%= render @shop %>


  <%= render @shop.comments %>


<% if user_signed_in? %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
<% end %>