<!DOCTYPE html>
<html>
  <head>
    <title>Ramen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <div class="content">
      <%= render 'header' %>
      <div class="container">

    <%= yield %>
     </div>
     <%= render 'footer' %>
  </div>
    <footer class="footer">
      <ul>
          <li class="nav-item dropdown">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          管理者
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if admin_signed_in? %>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'dropdown-item' %>
          <% else %>
            
            <%= link_to 'ログイン', new_admin_session_path, class: 'dropdown-item' %>
          <% end %>
        </div>
       </div>
      </li>
  </ul>
    
   <small>&copy; 2021 IkebukuroRamenCatalogue</small> 

    <!-- footer end -->
  
    </footer>
   

  </body>
</html>
