<%= render 'shared/error_messages' %>
<div class="contents row">
  <div class="container">
    <h1>ユーザー登録</h1>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :nickname, 'ニックネーム' %> <em>(6 characters maximum)</em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "6" , class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :email , 'Eメール'%><br />
        <%= f.email_field :email , class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div cclass="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

   
        <%= f.submit "作成", class: 'btn btn-primary'  %>
 
    <% end %>
  </div>
</div>

